html 
{
text-align: center;
 background: url(dust.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background size: cover ;
background-color: maroon;

}

body {
    color: white;
    font-family: verdana;
}